.container{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-rows: 60px 100px auto auto 20px;
    gap: 5px;
    grid-template-areas: "navbar  navbar navbar navbar"
                         "header  header header header"
                         "main    main   main   main"
                         "sidebar sidebar sidebar sidebar"
                         "footer  footer footer footer ";
}