.servicios{
    background-image: url(../img/imagenfondo.jpg);
    background-size: cover;
    ser1{
        background-size: cover;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ser2{
        background-size: cover;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ser3{
        background-size: cover;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}