* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: 60px 100px auto auto 20px;
  gap: 5px;
  grid-template-areas: "navbar  navbar navbar navbar" "header  header header header" "main    main   main   main" "sidebar sidebar sidebar sidebar" "footer  footer footer footer ";
}

.navbar {
  grid-area: navbar;
  background-color: rgba(231, 101, 231, 0.788);
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
}
.navbar logo img {
  width: 60px;
  margin-left: 5%;
}
.navbar menu {
  list-style: none;
  display: flex;
}
.navbar menu li {
  text-decoration: none;
  color: beige;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  font-size: 24px;
}

.header {
  background-color: rgb(218, 205, 226);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}
.header h1 {
  margin: 475px;
  color: rgb(79, 6, 97);
  animation-name: aparecer;
  animation-duration: 3s;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  grid-area: main;
  background-image: url(../img/imagenfondo.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  background-color: rgb(218, 205, 226);
}

.containerCajas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: inherit;
  background-color: rgba(231, 101, 231, 0.788);
  align-items: center;
  padding: 10px;
  text-align: center;
}
.containerCajas caja {
  width: 600px;
  margin: 10px;
  padding: 5px;
  color: rgb(39, 22, 68);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.containerCajas img {
  width: 300px;
  padding: 0;
}

.servicios {
  background-image: url(../img/imagenfondo.jpg);
  background-size: cover;
}
.servicios ser1 {
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.servicios ser2 {
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.servicios ser3 {
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sub {
  margin: 100px;
  text-align: center;
  color: rgb(39, 22, 68);
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pnos {
  background-image: url(../img/pnos.jpg);
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

.contactos {
  height: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.icono img {
  width: 32px;
  margin-left: 5px;
}

.btn {
  color: rgb(75, 21, 126);
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */